<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <footer class="footercontainer">
            <div class="text-center">
                <script>
                    document.write(new Date().getFullYear)
                </script>,
                made with <i class="fa-solid fa-heart"></i>
                by <a href="https://github.com/djordjevukosavljevic" class="font-weight-bold">zorzezorz</a>
                for a beeter web
            </div>
        </footer>
    </div>
</body>

</html>