<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
</head>
<body>
    <div class="text-center">
        <input type="email" placeholder="Enter your name here.."/>
        <input type="email" placeholder="Enter your lastname here.."/>
        <input type="number" placeholder="Enter your number here.."/>
        <input type="email" placeholder="Enter your email here.."/>
        <input type="email" placeholder="Enter subject here.."/>
        <textarea ></textarea>

        <button type="submit">Send a message</button>
    </div>
</body>
</html>